fastapi
uvicorn[standard]
sqlmodel
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic-settings
python-dotenv
pillow
httpx
aiohttp
jinja2
slowapi
limits
alembic
aiofiles
boto3
cloudinary
prometheus_fastapi_instrumentator

# Testing dependencies
pytest
pytest-asyncio
pytest-cov
httpx
requests
